### https://raw.github.com/github/gitignore/e662d21883ecfa868d585b9378841725018953e1/composer.gitignore

composer.phar
*/vendor/

# Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock


